# Ignore node_modules if using Node.js or front-end build tools
node_modules/

# Ignore build or dist directories if using a build process
dist/
build/

# Ignore log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore Mac system files
.DS_Store

# Ignore Linux system files
.*.swp

# Ignore Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Ignore images and other media if you don't want them in version control
images/

# Ignore IDE/editor configuration files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Ignore environment variable files
.env
.env.local
.env.development
.env.production
.env.test

# Ignore coverage reports if using a testing tool like Jest
coverage/

# Ignore any personal config files for Git
.gitconfig
